/*-- scss:defaults --*/

$navbar-bg: transparent;
$navbar-fg: white;
$navbar-image: url('#{base-url}/bluebg.jpg');

$font-family-sans-serif: 'Garamond', 'EB Garamond', 'Palatino', sans-serif;
$font-family-monospace: 'Comic Mono NF', 'Monaco', monospace;

// Set the monospace font size to be smaller than the default font size.
$font-size-monospace: 0.70rem;
// Smaller sizes for smaller screens.
$font-size-monospace-ipad-mini: 0.5rem;
$font-size-monospace-mobile: 0.42rem;

$font-size: 0.875rem;

//$text-align: justify;

/*-- scss:rules --*/

// Import Bootstrap's main SCSS file
@import "bootstrap";

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

// Override specific elements with monospace font sizes
code,
kbd,
samp {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to monospace elements
}

pre {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to pre elements
}

pre code {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to code inside pre
}

.command-box,
.mono {
    font-family: $font-family-monospace;
    font-size: $font-size-monospace;
}

:root {
    --bs-body-font-size: 0.875rem;
}

// CSS/SCSS for the table styling
.table-2c-custom {
  width: 100%;

  tbody tr {
    td:first-child {
      white-space: nowrap;     // Prevents text wrapping
      width: 1%;               // Ensures the first column is only as wide as needed
      min-width: 350px;        // Sets a minimum width for the first column (adjust as needed)
    }

    td:last-child {
      width: auto;             // Allows the second column to take up remaining space
    }
  }
}

.table-3c-custom {
  width: 100%;

  tbody tr {
    td:first-child {
      white-space: nowrap;     // Prevents text wrapping
      width: 1%;               // Ensures the first column is only as wide as needed
      min-width: 200px;        // Sets a minimum width for the first column (adjust as needed)
    }

    // Second child should have a min-width of 100px.
    td:nth-child(2) {
      min-width: 150px;
    }

    td:nth-child(3) {
      width: auto;
      min-width: 300px;
    }
  }
}

// Mobile Phone
@media (max-width: 767px) {
  .table-2c-custom {
    tbody tr {
      td:first-child {
        min-width: 85px;
      }
    }
  }

  .table-3c-custom {
    tbody tr {
      td:first-child {
        min-width: 85px;
      }

      td:nth-child(2) {
        min-width: 85px;
      }

      td:nth-child(3) {
        min-width: 100px;
      }
    }
  }
}

// iPad Mini
@media (max-width: 991px) {
.table-2c-custom {
    tbody tr {
      td:first-child {
        min-width: 150px;
      }
    }
  }

  .table-3c-custom {
    tbody tr {
      td:first-child {
        min-width: 150px;
      }

      td:nth-child(2) {
        min-width: 150px;
      }

      td:nth-child(3) {
        min-width: 200px;
      }
    }
  }
}

// iPad Pro
@media (min-width: 992px) and (max-width: 1199px) {
  .table-2c-custom {
    tbody tr {
      td:first-child {
        min-width: 200px;
      }
    }
  }

  .table-3c-custom {
    tbody tr {
      td:first-child {
        min-width: 200px;
      }

      td:nth-child(2) {
        min-width: 200px;
      }

      td:nth-child(3) {
        min-width: 250px;
      }
    }
  }
}

// Large Desktop
@media (min-width: 1200px) {
  .table-2c-custom {
    tbody tr {
      td:first-child {
        min-width: 200px;
      }
    }
  }

  .table-3c-custom {
    tbody tr {
      td:first-child {
        min-width: 200px;
      }

      td:nth-child(2) {
        min-width: 200px;
      }

      td:nth-child(3) {
        min-width: 300px;
      }
    }
  }
}
