/*-- scss:defaults --*/

$navbar-bg: transparent;
$navbar-fg: white;
$navbar-image: url('#{base-url}/bluebg.jpg');

$comic-mono-normal-url: url('#{$base-url}/fonts/Comic.Mono.Nerd.Font.Complete.ttf');
$comic-mono-bold-url: url('#{$base-url}/fonts/Comic.Mono.Bold.Nerd.Font.Complete.ttf');
$eb-garamond-normal-url: url('#{$base-url}/fonts/EBGaramond-VariableFont_wght.ttf');
$eb-garamond-italic-url: url('#{$base-url}/fonts/EBGaramond-Italic-VariableFont_wght.ttf');

@font-face {
  font-family: 'Comic Mono NF';
  font-weight: normal;
  font-style: normal;
  src: $comic-mono-normal-url;
}

@font-face {
  font-family: 'Comic Mono NF';
  font-weight: bold;
  font-style: normal;
  src: $comic-mono-bold-url;
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 100 700;
  font-style: normal;
  src: $eb-garamond-normal-url format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 100 700;
  font-style: italic;
  src: $eb-garamond-italic-url format('truetype');
}

$font-family-sans-serif: 'EB Garamond', 'Palatino', sans-serif;
$font-family-monospace: 'Comic Mono NF', 'Monaco', monospace;

// Set the monospace font size to be smaller than the default font size.
$font-size-monospace: 0.70rem;
// Smaller sizes for smaller screens.
$font-size-monospace-ipad-mini: 0.5rem;
$font-size-monospace-mobile: 0.42rem;

//$font-size: 0.875rem;

//$text-align: justify;

/*-- scss:rules --*/

// Import Bootstrap's main SCSS file
@import "bootstrap";

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

// Override specific elements with monospace font sizes
code,
kbd,
samp {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to monospace elements
}

pre {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to pre elements
}

pre code {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to code inside pre
}

.command-box,
.mono {
    font-family: $font-family-monospace;
    font-size: $font-size-monospace;
}

:root {
    --bs-body-font-size: 0.925rem;
}

.border-bottom-thin {
  border-bottom: 1px solid #dee2e6;
}
