
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Light mode styles (default) */
[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
[data-theme="dark"] {
  background-color: #121212;
  color: #ffffff;
}

[data-theme="dark"] .sticky-command-box {
  background-color: #333333;
  box-shadow: 0 -1px 5px rgba(255, 255, 255, 0.1);
}

/* Form controls in dark mode */
[data-theme="dark"] .form-control,
[data-theme="dark"] .form-select {
  background-color: #222222;
  color: #ffffff;
  border-color: #444444;
}

/*
[data-theme="dark"] .form-select {
  background-color: transparent;
  color: #000000;
}
*/

/* Accordion and other Bootstrap components */
[data-theme="dark"] .accordion-body,
[data-theme="dark"] .accordion-header,
[data-theme="dark"] .btn {
  background-color: #333333;
  color: #ffffff;
}

/* Button styles in dark mode */
[data-theme="dark"] .btn-outline-dark {
  color: #ffffff;
  border-color: #ffffff;
}

[data-theme="dark"] .btn-primary {
  background-color: #0069d9;
  border-color: #0062cc;
}

.sticky-command-box {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Adjust this if you want the box to be wider/narrower */
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border: #444444;
  z-index: 1030;
  padding: 1rem;
}

.command-box {
  resize: none;
  overflow: hidden;
}

/* Optional: Adjust button/link styling for smaller icons */
.sticky-command-box .btn-link {
  padding: 0; /* Reduce padding for more compact icon display */
}

/* Dark mode styles */
[data-theme="dark"] .sticky-command-box {
  background-color: #333333;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);
}
