/*-- scss:defaults --*/

$navbar-bg: transparent;
$navbar-fg: white;
$navbar-image: url('#{base-url}/bluebg.jpg');

$font-family-sans-serif: 'Garamond', 'EB Garamond', 'Palatino', sans-serif;
$font-family-monospace: 'Comic Mono NF', 'Monaco', monospace;

// Set the monospace font size to be smaller than the default font size.
$font-size-monospace: 0.70rem;
// Smaller sizes for smaller screens.
$font-size-monospace-ipad-mini: 0.5rem;
$font-size-monospace-mobile: 0.42rem;

$font-size: 0.875rem;

//$text-align: justify;

/*-- scss:rules --*/

// Import Bootstrap's main SCSS file
@import "bootstrap";

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

// Override specific elements with monospace font sizes
code,
kbd,
samp {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to monospace elements
}

pre {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to pre elements
}

pre code {
    white-space: nowrap; // Prevents text wrapping
    font-size: $font-size-monospace; // Apply custom font size to code inside pre
}

.command-box,
.mono {
    font-family: $font-family-monospace;
    font-size: $font-size-monospace;
}

:root {
    --bs-body-font-size: 0.925rem;
}

.border-bottom-thin {
  border-bottom: 1px solid #dee2e6;
}
